:root {
  --body-background: #f0f2f5;
  --weather-block-background: white;
  --body-text: #212529;
  --body-text-lighter: #66717c;
  --link-color: #2d8be2;
  --link-color-hoover: #155aaf;
  --border: lightgray;
  /* --weather-icon: #b1c9ed;   */
  --weather-icon: #c6dbef;
  --forecast-icon: #cbcfd3;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;

  background-color: var(--body-background);

  color: var(--body-text);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

h1,
h2,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100;
  max-width: 100%;
  height: auto;
}

.list {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.link {
  color: var(--link-color);
  text-decoration: none;

  transition: color 200ms ease-in-out, text-decoration 200ms ease-in-out;
}

.link:is(:hover, :focus) {
  text-decoration: underline;
  color: var(--link-color-hoover);
}

.container {
  max-width: 732px;
  margin: 60px;
  padding-left: 16px;
  padding-right: 16px;
}

.weather-block {
  padding: 16px 20px;

  border: 0.5px solid var(--border);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
  background-color: var(--weather-block-background);
}

.current .city h1 {
  font-size: 20px;
  color: var(--body-text-lighter);

  padding-bottom: 12px;
}

.city h1 span,
.current-parameters #current-city {
  font-size: 32px;
  font-weight: 700px;
  color: var(--body-text);
}

#search-form {
  display: flex;
  flex-direction: row;

  padding-bottom: 2px;
}

.btn-primary {
  margin-left: 8px;
  border-color: var(--link-color);
  background-color: var(--link-color);

  transition: background-color 200ms ease-in-out, border-color 200ms ease-in-out;
}

.btn-primary:is(:hover, :focus) {
  border-color: var(--link-color-hoover);
  background-color: var(--link-color-hoover);
}

.current .search-engine .current-location,
.current .search-engine .current-location .link {
  color: var(--link-color);
  cursor: pointer;

  transition: color 200ms ease-in-out;
}

.current .search-engine .current-location:is(:hover, :focus),
.current .search-engine .current-location .link:is(:hover, :focus) {
  color: var(--link-color-hoover);
}

.current-parameters {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  font-size: 16px;
  color: var(--body-text-lighter);
  line-height: calc(18 / 16);
}

.current-parameters .now-is {
  padding-bottom: 12px;
}

.current-parameters span {
  color: var(--body-text);
}

.current-weather {
  position: relative;

  display: flex;
  align-content: center;
  justify-content: center;
}

.current-weather i {
  font-size: 132px;
  color: var(--weather-icon);
}

.current-weather .temperature {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.current-weather .scale {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  font-size: 20px;
}

.current-weather .degree {
  text-align: center;

  font-size: 56px;
  font-weight: 700px;
}

.current-weather .link {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
  color: var(--body-text-lighter);
}

.current-weather .active {
  color: var(--link-color);
  font-weight: 700;
}

.week-weather {
  margin-top: 60px;
  padding: 16px auto;

  color: var(--body-text-lighter);
}

.week-weather .day-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 16px;
}

.week-weather .weather-forecast {
  text-align: center;
}

.week-weather .weather-forecast i {
  font-size: 56px;
  color: var(--forecast-icon);
}

.week-weather .weather-forecast .week-day {
  padding-bottom: 8px;
  color: var(--body-text);
}

.week-weather .weather-forecast .week-day.active {
  color: var(--link-color);
  font-weight: 700;
}

.week-weather .weather-forecast .day-temp-max {
  color: var(--body-text);
  opacity: 0.85;
}

footer {
  padding: 4px 4px;
  color: var(--body-text-lighter);
}
